<div class="field_pizza_title">
	<h2>{{content.field_pizza_title}}</h2>
</div>

<div class="field_ingredients">
	<h4>Ingredients:</h4>
	{{content.field_ingredients}}
</div>

<div class="field_createdat">

	<p>created at:</p>
	{{content.field_createdat}}
</div>
